# Dependencias (esta carpeta es gigante, no se sube nunca)
node_modules/

# Variables de entorno (aquí están nuestras contraseñas, es el archivo más importante de proteger)
.env

# Archivos de registro (logs)
logs
*.log

# Archivos del sistema operativo (basura)
.DS_Store
Thumbs.db
.gradle/
.idea/caches/
*.iml
local.properties
